@model UserDetailViewModel
@{
    Layout = null;
}


<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br /><br /><br />
    <h3>User Profile Information</h3>
    <div class="alert alert-info">User Id: @Model.Id</div>
    <div class="alert alert-warning">User Name :@Model.UserName</div>
    <div class="alert alert-info">Name Surname :@Model.Name @Model.Surname</div>
    <div class="alert alert-warning">Email Address :@Model.Email</div>

</div>