@model UpdateAboutDto
@{
    ViewData["Title"] = "UpdateAbout";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Update Brand</h4>
                <br />
                <div class="bs-example" data-example-id="bordered-table">

                    <form method="post">
                        <input type="hidden" readonly class="form-control" asp-for="AboutId">
                        <label>Description</label>
                        <input type="text" class="form-control" asp-for="Description">
                        <br />
                        <label>Address</label>
                        <input type="text" class="form-control" asp-for="Address">
                        <br />
                        <label>Email</label>
                        <input type="text" class="form-control" asp-for="Email">
                        <br />
                        <label>Phone</label>
                        <input type="text" class="form-control" asp-for="Phone">
                        <br />
                        <button class="btn btn-primary">Update Brand</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

