@model UpdateSpecialOfferDto
@{
    ViewData["Title"] = "UpdateSpecialOffer";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}


<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Update Feature Slider</h4>
                <br />
                <div class="bs-example" data-example-id="bordered-table">

                    <form method="post">
                        <input type="hidden" readonly class="form-control" asp-for="SpecialOfferId">
                        <label>Special Offer Title</label>
                        <input type="text" class="form-control" asp-for="Title" />
                        <br />
                        <label>Special Offer Description</label>
                        <input type="text" class="form-control" asp-for="SubTitle" />
                        <br />
                        <label>Image Url</label>
                        <input type="text" class="form-control" asp-for="ImageUrl" />
                        <br />
                        <label>Status</label>
                        <input type="text" class="form-control" asp-for="Status" />
                        <br />
                        <button class="btn btn-primary">Update Feature Slider</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
