
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_UserLayoutHeadViewComponentPartial")

<body>
    <div class="container-scroller d-flex">

        @await Component.InvokeAsync("_UserLayoutSideBarViewComponentPartial")

        <div class="container-fluid page-body-wrapper">

            @await Component.InvokeAsync("_UserLayoutNavbarViewComponentPartial")
           
            @RenderBody()

            @await Component.InvokeAsync("_UserLayoutFooterViewComponentPartial")

        </div>
    </div>
    <script src="~/spica/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/spica/js/off-canvas.js"></script>
    <script src="~/spica/js/hoverable-collapse.js"></script>
    <script src="~/spica/js/template.js"></script>
   
</body>

</html>

