@model MultiShop.Images.WebUI.DAL.Entities.ImageDrive

@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />  <br />
    <h2 class="alert alert-primary">Google Drive Storage Image Uploading Page</h2>

    <form method="post" enctype="multipart/form-data">
        <label>Product Name</label>
        <input type="text" class="form-control border" name="Name" />
        <br />
        <label>Pick a File</label>
        <input type="file" class="form-control border" name="Photo" />
        <br />
        <input name="SavedUrl" type="hidden" class="form-control" />
        <input name="SavedFileName" type="hidden" class="form-control" />
        <button class="btn btn-outline-info">Save Image</button>

    </form>
</div>

