@model UpdateBrandDto
@{
    ViewData["Title"] = "UpdateBrand";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Update Brand</h4>
                <br />
                <div class="bs-example" data-example-id="bordered-table">

                    <form method="post">
                        <input type="hidden" readonly class="form-control" asp-for="BrandId">
                        <label>Brand Name</label>
                        <input type="text" class="form-control" asp-for="BrandName" />
                        <br />
                        <label>Image Url</label>
                        <input type="text" class="form-control" asp-for="ImageUrl">
                        <br />
                        <button class="btn btn-primary">Update Brand</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

