@model CreateProductDto
@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Add a New Product</h4>
                <br />
                <div class="bs-example" data-example-id="bordered-table">

                    <form method="post">
                        <label>Product Name</label>
                        <input type="text" class="form-control" asp-for="ProductName">
                        <br />
                        <label>Product Price</label>
                        <input type="text" class="form-control" asp-for="ProductPrice">
                        <br />
                        <label>Product ImageUrl</label>
                        <input type="text" class="form-control" asp-for="ProductImageUrl">
                        <br />
                        
                        <label>Category Name</label>
                        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.CategoryValues, new { @class = "form-control" })
                        <br />

                        <label>Description</label>
                        <textarea class="form-control" asp-for="Description" rows="5"></textarea>
                        <br />
                        <button class="btn btn-primary">Add Category</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>



