@using MultiShop.DtoLayer.CommentDtos
@model List<ResultCommentDto>

<div class="tab-pane fade" id="tab-pane-3">
    <div class="row">
        <div class="col-md-6">
            <h4 class="mb-4">@Model.Count reviews</h4>
            @foreach (var item in Model)
            {
                <div class="media mb-4">
                    <img src="~/multishopTemp/img/user.jpg" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                    <div class="media-body">
                        <h6>@item.NameSurname<small> - <i>@item.CreatedDate.ToShortDateString()</i></small></h6>
                        @foreach (var i in Enumerable.Range(1, (int)item.Rating))
                        {
                            <i class="fas fa-star text-primary"></i>
                        }
                        
                        <p>@item.CommentDetail</p>
                    </div>
                </div>
            }
            
        </div>
        @await Html.PartialAsync("~/Views/ProductList/AddComment.cshtml", new { id = ViewBag.x })
    </div>
</div>
